<div class="content-area">
  <div class="container-fluid" id="perfil">
        <div class="container pt-4 pd-0">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="row data-profile">

                      <div class="container-head" id="adm">
                        <div class="container" style="padding: 0;">
                          <div class="row">

                            <div class="col-md-12" style="margin-bottom: 5px;width: auto; height: auto;padding: 0;">
                              <h1 style="background: #7D97A6;padding: 9px; width: 109%; color: white;">
                              <strong>PANEL DE ADMINISTRACION</strong>
                              </h1>
                            </div>

                          </div>
                        </div>
                      </div>
                      <br>


                      <div class="col-12 col-md-6 col-lg-3 text-center" style="width:200px; height:250px; padding: 0;" >

                      <img type="button" src="../../../assets/img/persona.jpg" class="img-perfil" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      </div>

                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <p class="modal-title h5 " id="nombre-modal">
                                Dr. Luis Gerardo Navarro Dávila
                                <br>
                                <span>
                                  <strong id="nombre-modal">CIRUGÍA GENRAL</strong>
                                </span>
                              </p>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-lg">
                            <img src="../../../assets/img/persona.jpg" alt="" style="width:100% ;">
                            </div>
                          </div>
                        </div>
                      </div>








                        <div class="data-perfil col-12 col-md-6 col-lg-9 text-dir">
                          <h1 style="width: auto; display: inline-block; " id="titleDr">
                            <strong> Dr. Luis Gerardo Navarro Dávila</strong>
                            <img src="../../../assets/img/ok (1).png" alt="" style="height: 30px;width: auto;margin-top: -13px;">
                          </h1>


                          <br>
                          <div class="starsBlock p-1 mb-2 rounded">
                            <div class="stars">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </div>
                            <div class="linkComentarios ml-2" style="cursor: pointer; color: white; display: inline-block">15 opiniones</div>
                          </div>
                          <span class="escribirOpinion">
                            <strong>escribir una opinión</strong>
                          </span>


                        <div>
                          <p><a href=""></a></p>
                        </div>

                          <h3 class="text-uppercase">
                            <strong>CIRUGÍA GENRAL</strong>
                          </h3>
                          <p class="mb-2 d-none d-sm-block d-md-block" id="cedula">Cédula Profesional: 6278510 / Cédula Especialidad 10652645</p>
                          <p class="mb-2 d-sm-none">
                            Cédula Profesional: 6278510
                            <br>
                            Cédula Especialidad 10652645
                          </p>
                          <p class="h4 serviciosMedico"> Enfermedades del aparato digestivo • Cirugía laparoscópica • Cirugía gastrointestinal • Hernias • Certificado por el Consejo Mexicano de Cirugía General</p>
                          <a href="" target="_blank" class="pr-2">
                            <img src="../../../assets/img/facebook-logo-trans.png" alt="" style="height: 30px; width: auto!important;">
                          </a>
                          <p class="escribirOpinion ml-0 h6 mt-3">
                            <span class="h5">3215</span>
                            consulta recientes
                          </p>
                        </div>
                    </div>
                </div>
              <div class="col-md-1"></div>
            </div>
        </div>
  </div>

  <div class="container" id="menu">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3 col-lg-5 text-center p-2 menuBtnOption ">
            <img src="../../../assets/img/LogoRafaelMunozColor.png" alt="" class="optionImageLogo">
          </div>
          <div class="col-md-3 col-lg-2 col-4 text-center p-2 menuBtnOption text-center" >
            <img src="../../../assets/img/btnAgendaUnaCita.png" alt=""  class="optionImage"mat-button routerLink='/consulta' style="cursor:pointer ;">
            <p class="menuBtnOptionText">CONSULTA</p>
          </div>
          <div class="col-md-3 col-lg-3 col-4 text-center p-2 menuBtnOption text-center" >
            <img src="../../../assets/img/BotonServicios.png" alt="" class="optionImage" mat-button routerLink='/sobre mi' style="cursor:pointer ;">
            <p class="menuBtnOptionText">SOBRE MI </p>
          </div>
          <div class="col-md-3 col-lg-2 col-4 text-center
           p-2 menuBtnOption text-center" style="cursor: pointer;" >
           <a href="https://api.whatsapp.com/send?phone=4495541153" class="btn-wsp" target="_blank">
           <img src="../../../assets/img/botonMensaje.png" style="    margin: 20px 0!important; height: 50px!important;">
            <p style=" font-size: 22.4px;font-family: Asap,sans-serif;color: black;">MENSAJE</p>
          </a>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

      <div id="perfil-informacion" class="container mb-3 blockInfo">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10"style="background: #3DBC7F; position: relative;">
              <h5 class="headerBlockInfo3 d-none d-sm-block">Mi Formacion Profecional</h5>
              <h5 class="headerBlockInfo3 d-block d-sm-none">Mi Formacion</h5>
              <button type="button" class="btn btnVolver2 pt-1 pb-1 h5 pl-3 pr-3">VER DOMICILIO</button>





              <div class="row borderRadiusBottom pt-3 pl-2 pr-2 pb-3 text-muted" style="background: #FFF; border-radius: 0 0 1rem 1rem;">
                <div class="col-3 col-md-1">
                  <img src="../../../assets/img/atencion.png" style="width: 100%; ">
                </div>
                <div class="col-9 col-md-11">
                  <div class="formacionProfesional">
                    <p>
                      <span style="font-family:arial,helvetica,sans-serif;">• Médico Cirujano / Universidad Autónoma de Zacatecas</span>
                    </p>
                    <p>
                      <span style="font-family:arial,helvetica,sans-serif;">• Medicina Interna / Universidad Autónoma de San Luis Potosí</span>
                    </p>
                  </div>
                </div>





                <div class="col-3 col-md-1 pt-3">
                  <img src="../../../assets/img/Horarios.png" style="width: 100%">
                </div>
                <div class="col-9 col-md-11 pt-3" >
                  <h4>Especialista en </h4>
                  <div class="especialistaEn">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </div>
                </div>

                <div class="col-3 col-md-1 pt-3">
                  <img src="../../../assets/img/consultaCosto.png" style="width: 100%">
                </div>

                <div class="col-9 col-md-11 pt-3">
                  <h4>Pricipales Enfermedades y Tratamiento </h4>

                </div>

                <div class="col-3 col-md-1 pt-3">
                  <img src="../../../assets/img/MediosdePago.png" style="width: 100%">
                </div>

                <div class="col-9 col-md-11 pt-3">
                  <h4>Pricipales Enfermedades y Tratamiento </h4>

                </div>



                <div class="col-3 col-md-1 pt-3">
                  <img src="../../../assets/img/aseguradoras.png" style="width: 100%">
                </div>

                <div class="col-9 col-md-11 pt-3">
                  <h4>Pricipales Enfermedades y Tratamiento </h4>

                </div>


                <div class="col-3 col-md-1 pt-3">
                  <img src="../../../assets/img/atencion.png" style="width: 100%">
                </div>

                <div class="col-9 col-md-11 pt-3">
                  <h4>Pricipales Enfermedades y Tratamiento </h4>

                </div>


                <div class="col-3 col-md-1 pt-3">
                  <img src="../../../assets/img/btnAgendaUnaCita.png" style="width: 100%">
                </div>

                <div class="col-9 col-md-11 pt-3">
                <button type="button" class="btn bg-blue-dir btnCitasEnLinea pt-1 pb-1" style="font-size: 1.5rem; cursor: pointer;" mat-button routerLink='/citas' >SOLICITAR CITA</button>
                  <div class="h5 pl-5" style="color: #003152;">en consultorio</div>
                </div>
              </div>
              <h5 class="headerBlockInfo3">
                <img src="../../../assets/img/ok (1).png" style="width: auto;height: 30px;">
                Dra. Blanca Isela Rivera Jasso / Medicina Familiar</h5>
            </div>
            <div class="col-md-1"></div>
          </div>
  </div>
</div>

