<div class="content-area">
  <div class="container-fluid" id="perfil">
        <div class="container pt-4 pd-0">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-9">
                    <div class="row data-profile">

                        <div class="data-perfil col-12 col-md-6 col-lg-9 text-dir">
                          <h1 style="width: auto; display: inline-block; " id="titleDr">
                            <strong> Dr. Luis Gerardo Navarro Dávila</strong>
                            <img src="../../../assets/img/ok (1).png" alt="" style="height: 30px;width: auto;margin-top: -13px;">
                          </h1>


                          <br>

                          <h3 class="text-uppercase">
                            <strong>CIRUGÍA GENRAL</strong>
                          </h3>
                          <p class="mb-2 d-none d-sm-block d-md-block" id="cedula">Cédula Profesional: 6278510 / Cédula Especialidad 10652645</p>
                          <p class="mb-2 d-sm-none">
                            Cédula Profesional: 6278510
                            <br>
                            Cédula Especialidad 10652645
                          </p>


                        </div>
                        <div class="container-head" id="adm">
                          <div class="container" style="padding: 0;">
                            <div class="row">

                              <div class="col-md-12" style="margin-bottom: 5px;width: auto; height: auto;">
                                <h1 style="background: #7D97A6;padding: 9px; width: 175%;margin: -1px; font-size: 33px;">
                                <strong>PANEL DE ADMINISTRACION</strong>
                                </h1>
                              </div>

                            </div>
                          </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
  </div>
  <div class="container" id="renovacion">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-10" style="width: auto; background-color:#69A34C; color:white; height: auto;     padding-top: 5px;margin-top: 10px;margin-right: 10px;  ">
          <h2>
            <p><Strong>ÓPTIMO |</Strong> Fecha de Renovacion 16 de JUNIO 2023</p>
          </h2>
        </div>
        <div class="col-md-2" style="background :#F28737;width: auto;height: 55px;margin-top: 10px; ">
          <button style="background:#F28737 ; color :white; padding: 5px;border: #00ffff00; margin-top: 10px;"><strong>RENOVAR</strong></button>
        </div>
      </div>
    </div>
    <div class="col-md-1 "></div>
    </div>
  </div>
</div>

<div class="container" id ="ajustes">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <div class="row" style="
      display: -webkit-box;
  ">
        <div col-md-3 style="background: white;margin-top: 10px;width: auto;">
          <div style="width: 130px; height: 130px; border-radius: 100%; background: #F28737; margin:10px auto;padding-top: 10px;"></div>
          <hr>
          <div id="opciones" style="margin-bottom: 12px;text-align: right;">
          <a mat-button routerLink="/perfil" >INFORMACION DEL PERFIL</a><mat-icon>done</mat-icon>
          <br>
          </div>
          <div  id="opciones" style="margin-bottom: 12px;text-align: right;">
          <a mat-button routerLink="/pagos-consulta" >PAGOS FACTURIZACION</a><mat-icon>done</mat-icon>
          <br>
          </div >
          <div id="opciones" style="margin-bottom: 12px;text-align: right;">
          <a mat-button routerLink="/Direcciones-Consulta" >DIRECCIÓNES CONSULTA</a><mat-icon>done</mat-icon>
          <br>
          </div>
          <div  id="opciones" style="margin-bottom: 12px;text-align: right;">
          <a mat-button routerLink="." >PRINCIPALES SERVICIOS</a><mat-icon>done</mat-icon>
          <br>
          </div>
          <div id="opciones" style="margin-bottom: 12px;text-align: right;">
          <a mat-button routerLink="/formulario-profecional" >FORMACION PROFECIONAL</a><mat-icon>done</mat-icon>
          <br>
          </div>
          <div id="opciones" style="margin-bottom: 12px;text-align: right;">
          <a mat-button routerLink="/detalles-consulta" >DETALLES SOBRE CONSULTA</a><mat-icon>done</mat-icon>
          <br>
          </div>
          <div id="opciones" style="margin-bottom: 12px;text-align: right;">
          <a mat-button routerLink="/agenda-administrador" >AGENDA CONFIGURACION</a><mat-icon>done</mat-icon>
          <br>
          </div>


        </div>
        <div col-md-9 style="display: unset;margin-top: 10px; ">
          <div style="width: auto;">
          <h1 style="width: auto; display: flex;">
            <strong style="font-size: 28px;margin-left: 5px; color:#00817C ; margin-top: 10px;">PAGOS FACTURACION</strong>

          </h1>
          </div>

          <div class="container " id="formulario">
            <div class="row">
              <form action="">
              <div class="col" style="margin-bottom: 10px;margin-top: -15px;">
                <table><tr>
                  <td>
                    <p >Nombre / Razón Social</p>
                    <input type="text" placeholder="Nombre / Razón Social" class="razon-social">
                  </td>

                </tr></table>
              </div>
              <div class="col">
                <table><tr>
                  <td>
                    <p >RFC</p>
                    <input type="text" placeholder="RFC" class="RFC">


                  </td>

                </tr></table>

              </div>
              <div class="col">
                <table><tr>
                  <td>
                    <p >Domicilio Fiscal</p>
                    <input type="text" placeholder="Domicilio Fiscal" class="dom-fis">
                  </td>
                  <td>
                    <p >NUMERO EXT</p>
                    <input type="text" placeholder="NUMERO EXT" class="num-ext">
                  </td>
                  <td>
                    <p >NUMERO INT</p>
                    <input type="text" placeholder="NUMERO INT" class="num-int">
                  </td>

                </tr></table>

              </div>
              <div class="col">
                <table><tr>
                  <td>
                    <p >Colonia/Fraccionamiento</p>
                    <input type="text" placeholder="Colonia/Fraccionamiento" class="colonia">
                  </td>
                  <td>
                    <p >Codigo Postal</p>
                    <input type="text" placeholder="Codigo Postal" class="codigo-p">
                  </td>


                </tr></table>

              </div>
              <div class="col">
                <table><tr>
                  <td>
                    <p >CIUDAD</p>
                    <input type="text" placeholder="CIUDAD" class="ciudad">
                  </td>
                  <td>
                    <p >MUNICIPIO</p>
                    <input type="text" placeholder="MUNICIPIO" class="municipio">
                  </td>
                  <td>
                    <p >ESTADO</p>
                    <input type="text" placeholder="ESTADO" class="estado">
                  </td>

                </tr></table>

              </div>
              <div class="col">
                <table><tr>
                  <td>
                    <p >Teléfono de Contatco</p>
                    <input type="text" placeholder="Teléfono de Contatco" class="tel">
                  </td>

                </tr></table>

              </div>
              <div class="col">
                <table><tr>
                  <td>
                   <span>CONSTANCIA DE SITUACION FISCAL  </span> <a href="" id="edicion"> <strong>CARGAR</strong></a>

                  </td>

                </tr></table>

              </div>


            </form>
            </div>
          </div>


        </div>

      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<div id="directorio-info" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4 block-left pt-2">
        <h3>
          <b style="font-size: 28px;">México Medico </b>
        </h3>
        <img src="../../../assets/img/Mexico-Medico-pie.png" alt="">
        <p>México Medico es una plataforma dedicada a <br>
          facilitar la búsqueda de servicios médicos</p>

      </div>


      <div class="col-md-4 pt-2 text-center">
        <a href="" class="linkFp"><h2><b style="color: #2F566C; font-size: 32px;">¿Eres Médico?</b></h2></a>
        <img src="../../../assets/img/mexico-medico-republica.png" alt="¿Eres Médico? Únete a nosotros" class="pt-3 pb-3 imgFp">
        <h2 style="font-size:2rem;">
          <a href="" class="linkFp">
            <b class="text-fp">FORMA PARTE</b>
          </a>
        </h2>
      </div>
      <div class="col-md-4 pt-2 text-right">
        <h3><b style="font-size: 28px;">Entra en contacto</b></h3>
        <div class="yellow-line contacto" style="float: right;"></div>
        <br>
        <p>
          <a href="https://www.facebook.com/agsmedico" target="_blank">
            <img src="../../../assets/img/facebook-logo-trans.png" alt="Facebook" style="height: 30px; width: auto!important;">
          </a>
        </p>

        <p class="envianosMsj" style="cursor: pointer;" onclick="gtag('event', 'click', {'event_category': 'envianosMsj', 'event_label': 'Whatsapp Agsmedico'});">
          <b>circulodigital@gmail.com</b>
          <img src="../../../assets/img/botonMensaje.png" class="envianosMsj" alt="Envíanos tus comentarios" style="width: 30px!important; font-size: 16px;">
        </p>
        <a href="tel:4499940374" class="telNosotros" onclick="gtag('event', 'click', {'event_category': 'telNosotros', 'event_label': 'Telefono Agsmedico'});">
        <p style="font-size: 30px; font-weight: bold;">
          <span style="font-size: 1.1rem; color: #003152!important; text-decoration: none;">449</span>
          <label style="font-size: 1.3rem; color: #003152!important;">994 0374</label>
          <i class="fa fa-phone" style="font-size: 1.6rem; color: #003152!important;"></i>
        </p>
      </a>
      </div>
    </div>
  </div>
</div>
<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        Todos los derechos reservados Circulo Digital Studio
      </div>
      <div class="col-md-6 text-right">
        <ul>
          <li>
            <a href="">Nosotros</a>
          </li>
          <li>
            <a href="#">Terminos y condiciones </a>
          </li>
          <li>

            <div data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;">

              Aviso de privacidad
              </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <p class="modal-title h5 " id="nombre-modal">
                      Aviso de privacidad

                    </p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-lg">
                  <img src="../../../assets/img/persona.jpg" alt="" style="width:100% ;">
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
