<div class="Estados" style="text-align: center;margin-top: 70px;margin-bottom: 60px;">
  <a href="">Aguascalientes  </a> <samp>|</samp> <a href="">  Baja California  </a> <samp>|</samp> <a href="">  Baja California Sur  </a> <samp>|</samp> <a href="">  Canpeche</a>
  <br>
  <a href="">Ciudad de México  </a> <samp>|</samp> <a href="">Cohuila  </a> <samp>|</samp> <a href="">  Colima Chiapas  </a> <samp>|</samp> <a href="">  Chihuahua  </a> <samp>|</samp> <a href="">  Durango  </a> <samp>|</samp> <a href="">  Guanajuato</a>
  <br>
  <a href="">Guerrero  </a> <samp>|</samp> <a href="">  Hidalgo  </a> <samp>|</samp> <a href="">  Jalisco  </a> <samp>|</samp> <a href="">  México  </a> <samp>|</samp> <a href="">  Michoacán  </a> <samp>|</samp> <a href="">  Morelos  </a> <samp>|</samp> <a href="">  Nayarit</a>
  <br>
  <a href="">Nuevo León  </a> <samp>|</samp> <a href="">  Oaxaca  </a> <samp>|</samp> <a href="">  Puebla  </a> <samp>|</samp> <a href="">  Querétaro  </a> <samp>|</samp> <a href="">  Quintana Roo  </a> <samp>|</samp> <a href="">  San Luis Potosí  </a>
  <br>
  <a href="">Sinaloa  </a> <samp>|</samp> <a href="">  Sonora  </a> <samp>|</samp> <a href="">  Tabasco  </a> <samp>|</samp> <a href="">  Tamaulipas  </a> <samp>|</samp> <a href="">  Tlaxcala  </a> <samp>|</samp> <a href="">  Veracruz  </a> <samp>|</samp> <a href="">  Yucatán  </a> <samp>|</samp> <a href="">  Zacatecas</a>
</div>
