
<header>

  <div class="container-fluid pt-4 pb-4" id="container-head">
    <div class="row" style="width: 100%;">

      <div id="logo-dm" class="col-10 col-sm-10 col-md-12 text-center">
        <a href="">
          <img src="../assets/img/aguascalientes- mexico-medico.png" alt="Aguascalientes Medico" >
        </a>
      </div>
    </div>
  </div>
  <ul class="nav justify-content-center nav-directorio text-center pl-5 pr-5">
    <li class="nav-item navSubMenu">
      <a class="nav-link submenu" href="#" data-attr="Especialistas Médicos" menu-status="close" data-clasif="1">
        <span>Especialistas</span>
        <br>
        Médicos
        <i class="fa fa-chevron-down"> </i>
      </a>

      <div class="subMenu p-4">

      </div>
    </li>
    <li class="nav-item navSubMenu">
      <a class="nav-link submenu" href="#" data-attr="Especialistas Médicos" menu-status="close" data-clasif="2">
        <span>Especialistas</span>
        <br>
        Dentales
        <i class="fa fa-chevron-down"> </i>
      </a>
      <div class="subMenu p-4">

      </div>
    </li>
    <li class="nav-item navSubMenu">
      <a class="nav-link submenu" href="#" data-attr="Especialistas Médicos" menu-status="close" data-clasif="3">
        <span>Otros</span>
        <br>
        Servicios
        <i class="fa fa-chevron-down"> </i>
      </a>

      <div class="subMenu p-4">

      </div>
    </li>
    <li class="nav-item navSubMenu">
      <a class="nav-link submenu" href="#" data-attr="Especialistas Médicos" menu-status="close" data-clasif="4">
        <span>Hospitales y </span>
        <br>
        Clinicas
        <i class="fa fa-chevron-down"> </i>
      </a>

      <div class="subMenu p-4">

      </div>
    </li>
    <li class="nav-item navSubMenu">
      <a class="nav-link submenu" href="#" data-attr="Especialistas Médicos" menu-status="close" data-clasif="5">


      <strong>laboratorios</strong>
      </a>

      <div class="subMenu p-4">

      </div>
    </li>
    <li class="nav-item navSubMenu">
      <a class="nav-link submenu"  data-attr="Especialistas Médicos" menu-status="close" data-clasif="6" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <span>Inicio de </span>
        <br>
        Secion
      </a>


    </li>
  </ul>
</header>








<router-outlet></router-outlet>








<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        Todos los derechos reservados Circulo Digital Studio
      </div>
      <div class="col-md-6 text-right">
        <ul>
          <li>
            <a href="">Nosotros</a>
          </li>
          <li>
            <a href="#">Terminos y condiciones </a>
          </li>
          <li>

            <div data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;">

              Aviso de privacidad
              </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <p class="modal-title h5 " id="nombre-modal">
                      Aviso de privacidad

                    </p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-lg">
                  <img src="../../../assets/img/persona.jpg" alt="" style="width:100% ;">
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


